<!DOCTYPE html>
<html lang="ja">
  <body>
    <!-- main -->
    <main>
      <h1>ようこそ<storong>Bookers</storong>へ！</h1>
      <p><storong>Bookers</storong>では、さまざまな書籍に関するあなたの意見や</p>
      <p>印象を共有し交換することが出来ます</p>
      <span>
        <a href="/books">start</a>
      </span>
    </main>
  </body>
</html>